/* Color */
:root {
  /* Athena_Light */
  /* color */
  --color-sf-series-1: var(--color-sf-surface-variant);
  --color-sf-series-2: var(--color-sf-outline-variant);
  --color-sf-series-3: var(--color-sf-outline);
  --color-sf-series-4: var(--color-sf-on-surface-variant);
  --color-sf-series-5: 99, 85, 199;
  --color-sf-series-6: 0, 174, 224;
  --color-sf-series-7: 130, 193, 0;
  --color-sf-series-8: 113, 7, 220;
  --color-sf-series-9: 5, 187, 61;
  --color-sf-series-10: 210, 16, 32;
  --color-sf-series-11: 250, 210, 0;
  --color-sf-series-12: 0, 133, 255;
  --color-sf-series-13: 146, 4, 234;
  --color-sf-series-14: 8, 238, 155;
  --color-sf-background: var(--color-sf-surface);
  --color-sf-black: 0, 0, 0;
  --color-sf-black-opacity5: 0, 0, 0, 0.05;
  --color-sf-black-white: 0, 0, 0;
  --color-sf-content-text---color-alt2: var(--color-sf-on-secondary-container);
  --color-sf-danger: 244, 73, 62;
  --color-sf-danger-darken-opacity-5: 197, 33, 24;
  --color-sf-danger-opacity12: 244, 73, 62, 0.12;
  --color-sf-danger-opacity8: 244, 73, 62, 0.08;
  --color-sf-danger-text: 255, 255, 255;
  --color-sf-diagram-palette-background: 255, 255, 255;
  --color-sf-diagram-palette-hover-background: 15, 23, 42, 0.05;
  --color-sf-diagram-palette-selection-background: 15, 23, 42, 0.12;
  --color-sf-error: 244, 73, 62;
  --color-sf-error-container: 253, 216, 213;
  --color-sf-flyout: var(--color-sf-surface);
  --color-sf-info: 46, 144, 250;
  --color-sf-info-container: 224, 240, 255;
  --color-sf-info-opacity12: 46, 144, 250, 0.12;
  --color-sf-info-opacity8: 46, 144, 250, 0.08;
  --color-sf-info-text: 255, 255, 255;
  --color-sf-inverse-on-surface: 242, 240, 244;
  --color-sf-inverse-primary: 174, 198, 255;
  --color-sf-inverse-surface: 48, 48, 52;
  --color-sf-on-background: 15, 23, 42;
  --color-sf-on-error: 255, 255, 255;
  --color-sf-on-error-container: 96, 20, 16;
  --color-sf-on-info: 255, 255, 255;
  --color-sf-on-info-container: 0, 58, 109;
  --color-sf-on-primary: 255, 255, 255;
  --color-sf-on-primary-container: 0, 29, 90;
  --color-sf-on-secondary: 255, 255, 255;
  --color-sf-on-secondary-container: 30, 34, 42;
  --color-sf-on-success: 255, 255, 255;
  --color-sf-on-success-container: 5, 91, 56;
  --color-sf-on-surface: 15, 23, 42;
  --color-sf-on-surface-opacity12: 15, 23, 42, 0.12;
  --color-sf-on-surface-opacity24: 15, 23, 42, 0.24;
  --color-sf-on-surface-opacity38: 15, 23, 42, 0.38;
  --color-sf-on-surface-opacity4: 15, 23, 42, 0.04;
  --color-sf-on-surface-opacity5: 15, 23, 42, 0.05;
  --color-sf-on-surface-opacity8: 15, 23, 42, 0.08;
  --color-sf-on-surface-opactity6: 15, 23, 42, 0.06;
  --color-sf-on-surface-variant: 60, 74, 91;
  --color-sf-on-surface-variant-opacity38: 60, 74, 91, 0.38;
  --color-sf-on-tertiary: 29, 20, 0;
  --color-sf-on-tertiary-container: 45, 32, 0;
  --color-sf-on-warning: 31, 20, 0;
  --color-sf-on-warning-container: 66, 42, 0;
  --color-sf-outline: 127, 137, 150;
  --color-sf-outline-variant: 215, 218, 224;
  --color-sf-primary: 40, 119, 238;
  --color-sf-primary-btn-hover-8: 255, 255, 255, 0.08;
  --color-sf-primary-btn-pressed-12: 255, 255, 255, 0.12;
  --color-sf-primary-container: 213, 228, 255;
  --color-sf-primary-container-opacity65: 213, 228, 255;
  --color-sf-primary-darken-opacity-10: 26, 76, 183;
  --color-sf-primary-darken-opacity-5: 31, 87, 209;
  --color-sf-primary-opacity-11: 40, 119, 238, 0.11;
  --color-sf-primary-opacity-12: 40, 119, 238, 0.12;
  --color-sf-primary-opacity-14: 40, 119, 238, 0.14;
  --color-sf-primary-opacity-16: 40, 119, 238, 0.16;
  --color-sf-primary-opacity-5: 40, 119, 238, 0.05;
  --color-sf-primary-opacity-8: 40, 119, 238, 0.08;
  --color-sf-scrim: 0, 0, 0;
  --color-sf-scrim-opacity50: 0, 0, 0, 0.5;
  --color-sf-secondary: 106, 111, 123;
  --color-sf-secondary-bg---color: 255, 255, 255;
  --color-sf-secondary-btn-bg: 255, 255, 255;
  --color-sf-secondary-container: 181, 199, 228;
  --color-sf-secondary-opacity0: 106, 111, 123, 0;
  --color-sf-secondary-opacity12: 106, 111, 123, 0.12;
  --color-sf-shadow: 0, 0, 0;
  --color-sf-spreadsheet-gridline: 229, 234, 243;
  --color-sf-success: 18, 183, 106;
  --color-sf-success-container: 209, 250, 223;
  --color-sf-success-darken-opacity-5: 41, 150, 31;
  --color-sf-success-opacity12: 18, 183, 106, 0.12;
  --color-sf-success-opacity8: 18, 183, 106, 0.08;
  --color-sf-success-text: 255, 255, 255;
  --color-sf-support-opacity-12: 255, 255, 255, 0.12;
  --color-sf-support-opacity-8: 255, 255, 255, 0.08;
  --color-sf-surface: 255, 255, 255;
  --color-sf-surface-opacity1: 255, 255, 255, 0.01;
  --color-sf-surface-tint---color: 40, 119, 238;
  --color-sf-surface-variant: 237, 240, 247;
  --color-sf-tertiary: 255, 190, 11;
  --color-sf-tertiary-container: 255, 242, 194;
  --color-sf-transparent: 255, 255, 255, 0;
  --color-sf-warning: 247, 144, 9;
  --color-sf-warning-container: 255, 244, 214;
  --color-sf-warning-opacity12: 247, 144, 9, 0.12;
  --color-sf-warning-opacity8: 247, 144, 9, 0.08;
  --color-sf-warning-text: 255, 255, 255;
  --color-sf-white: 255, 255, 255;
  --color-sf-white-black: 255, 255, 255;
  --color-sf-white-opacity12: 255, 255, 255, 0.12;
  --color-sf-white-opacity8: 255, 255, 255, 0.08;
}

/* FontFamily */
:root {
  /* EN */
  /* string */
  --font-family-sf-en: Roboto;
  /* ZH */
  /* string */
  --font-family-sf-zh: "Noto Sans TC";
  --font-family-sf-fontfamily: var(--font-family-sf-zh);
}

/* FontSize */
:root {
  /* Athena_Default */
  /* number */
  --font-size-sf-text-xxs: 10px;
  --font-size-sf-text-xs: 11px;
  --font-size-sf-text-sm: 12px;
  --font-size-sf-text-md: 14px;
  --font-size-sf-text-lg: 16px;
  --font-size-sf-h6: 18px;
  --font-size-sf-h5: 20px;
  --font-size-sf-h4: 22px;
  --font-size-sf-h3: 24px;
  --font-size-sf-h2: 28px;
  --font-size-sf-h1: 32px;
}

/* FontWeight */
:root {
  /* Athena_Default */
  /* string */
  --font-weight-sf-normal: 400;
  --font-weight-sf-medium: 500;
  --font-weight-sf-bold: 700;
}
